/* 
/* Default (light mode) */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #d4c7c7;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #c7c7c7;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  ::-webkit-scrollbar-thumb {
    background-color: #555555;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #666666;
  }

  ::-webkit-scrollbar-track {
    background: #333333;
  }
}

*/
/* Animation */

.animate_in {
  animation: animateIn 0.3s ease 0.15s both;
}

@keyframes animateIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
